In [1]:
#Concatenation
'1' + '2'

'12'

In [3]:
'Hi' + ' there.'

'Hi there.'

In [4]:
'12'*2

'1212'

In [6]:
#Strip
s = '     Extras \n'
s.strip()

'Extras'

In [8]:
s = '******10******'
s.strip('*')

'10'

In [9]:
#Split

s = "Let\'s split the words"
s.split(' ')

["Let's", 'split', 'the', 'words']

In [11]:
s = 'Jane,Doe,Cars,5'
s.split(',')

['Jane', 'Doe', 'Cars', '5']

In [12]:
#Slicing
word = 'Hello'
word[1:3] #從2算起不包含3

'el'

In [13]:
word[4:7]

'o'

In [14]:
word[-4:-1]

'ell'

In [15]:
#Substring Testing
word = 'Hello'
'HE' in word

False

In [17]:
'He' in word

True

In [18]:
word.find('el') #Here we ask for e and l and get back to the start location of e, which is 1

1

In [19]:
#Convert to Number
word = '1234'
int(word)

1234

In [20]:
float(word)

1234.0

In [21]:
word = 'Hi'
int(word)

ValueError: invalid literal for int() with base 10: 'Hi'

In [22]:
statement = 'We love {} {}.'
statement.format('data', 'analysis')

'We love data analysis.'

In [23]:
statement = 'We love {0} {1}.'
statement.format('data', 'analysis')

'We love data analysis.'

In [24]:
statement = 'We love {1} {0}.'
statement.format('analysis', 'data')

'We love data analysis.'

In [25]:
#List
list = [11,22,33]

In [26]:
list

[11, 22, 33]

In [27]:
list[1]

22

In [28]:
list[3]

IndexError: list index out of range

In [29]:
for i in list:
    print(i)

11
22
33

In [30]:
for i in range (0,len(list)):
    print(list[i])

11
22
33

In [31]:
list = [11,22,33]

In [32]:
list[1] = 95
list

[11, 95, 33]

In [33]:
list.append(44)

In [34]:
list

[11, 95, 33, 44]

In [35]:
list.pop(3)

44

In [36]:
list

[11, 95, 33]

In [37]:
list.remove(33)

In [38]:
list

[11, 95]

In [39]:
#Adding a List to a List: extend
list1 = [1,2,3]
list2 = [4,5,6]

In [40]:
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

In [41]:
list1.append(list2)
list1

[1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [42]:
#Zipping Lists
list1 = [1,2,3]
list2 = [4,5,6]

In [43]:
for x,y in zip(list1, list2):
    print(x, ", ", y)

1 ,  4
2 ,  5
3 ,  6

In [44]:
#Tuple Basic
tuple1 = ('Honda', 'Civic', 4, 2017)
tuple1

('Honda', 'Civic', 4, 2017)

In [45]:
tuple1[1]

'Civic'

In [46]:
len(tuple1)

4

In [47]:
for i in tuple1:
    print(i)

Honda
Civic
4
2017

In [49]:
list[3] = 2018

IndexError: list assignment index out of range

In [52]:
#dictionary
dict = {('Ghostbusters', 2016): 5.4, 
        ('Ghostbusters', 1984): 7.8}
dict

{('Ghostbusters', 1984): 7.8, ('Ghostbusters', 2016): 5.4}

In [53]:
dict[('Ghostbusters', 2016)]

5.4

In [54]:
len(dict)

2

In [55]:
dict[('Cars', 2006)] = 7.1

In [56]:
dict #dictionaries are unordered

{('Cars', 2006): 7.1, ('Ghostbusters', 1984): 7.8, ('Ghostbusters', 2016): 5.4}

In [57]:
#Safer way to get from a dictionary
dict = {('Ghostbusters', 2016): 5.4, 
        ('Ghostbusters', 1984): 7.8,
        ('Cars', 2006): 7.1}

In [58]:
x = dict.get(('Cars', 2006))
x

7.1

In [60]:
x = dict.get(('Toy Story', 1995))
x == None

True

In [62]:
('Toy Story', 1995) in dict

False

In [63]:
#Deleting from a Dictionary
dict.pop(('Ghostbusters', 2016))
dict

{('Cars', 2006): 7.1, ('Ghostbusters', 1984): 7.8}

In [67]:
del dict[('Cars', 2006)]

In [68]:
dict

{('Ghostbusters', 1984): 7.8}

In [70]:
#Iterating over a dictionary
dict = {('Ghostbusters', 2016): 5.4, 
        ('Ghostbusters', 1984): 7.8,
        ('Cars', 2006): 7.1}
for key, value in dict.items():
    print(key, ":", value)

('Ghostbusters', 2016) : 5.4
('Ghostbusters', 1984) : 7.8
('Cars', 2006) : 7.1

In [71]:
#Finde that the movies before the year 2000 have been removed
dict = {('Ghostbusters', 2016): 5.4, 
        ('Ghostbusters', 1984): 7.8,
        ('Cars', 2006): 7.1}

to_remove = []
for i in dict:
    if(i[1] < 2000): #年份小於2000年
        to_remove.append(i)
for i in to_remove:
    dict.pop(i) #remove the keys in that list from the dictionary

dict

{('Cars', 2006): 7.1, ('Ghostbusters', 2016): 5.4}

In [72]:
#List comprehension
list = [i**2 for i in range (1,11)] #不包含11
list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [74]:
list = [i for i in range (0,6)]
list

[0, 1, 2, 3, 4, 5]

In [76]:
import random
list = [random.randint (0,5) for i in range (0,10)] 
list

[2, 2, 5, 5, 1, 1, 5, 2, 5, 3]

In [77]:
dict = {i : i**2 for i in range (1,11)}
dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [79]:
dict = {i : chr(i) for i in range (65,91)}
dict

{65: 'A',
 66: 'B',
 67: 'C',
 68: 'D',
 69: 'E',
 70: 'F',
 71: 'G',
 72: 'H',
 73: 'I',
 74: 'J',
 75: 'K',
 76: 'L',
 77: 'M',
 78: 'N',
 79: 'O',
 80: 'P',
 81: 'Q',
 82: 'R',
 83: 'S',
 84: 'T',
 85: 'U',
 86: 'V',
 87: 'W',
 88: 'X',
 89: 'Y',
 90: 'Z'}

In [83]:
leos_colors = set(['blue', 'green', 'red'])
leos_colors

{'blue', 'green', 'red'}

In [85]:
leos_colors.add('yellow')
leos_colors

{'blue', 'green', 'red', 'yellow'}

In [86]:
leos_colors.add('blue') #已加過不會在重複加入
leos_colors

{'blue', 'green', 'red', 'yellow'}

In [87]:
leos_colors = set(['blue','green','red'])
leos_colors

{'blue', 'green', 'red'}

In [89]:
leos_colors.discard('green')
leos_colors

{'blue', 'red'}

In [90]:
leos_colors = set(['blue','green','red'])
ilkays_colors = set(['blue','yellow'])
either = ilkays_colors.union(leos_colors)
either

{'blue', 'green', 'red', 'yellow'}

In [91]:
leos_colors = set(['blue','green','red'])
ilkays_colors = set(['blue','yellow'])
both = ilkays_colors.intersection(leos_colors)
both

{'blue'}